@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
header{
    background-image: url(./img/Hero-bg.png);
    height: 698px;

}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
    margin-bottom: 158px;

}

.nav h2{
    font-family:Inter ;
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}
.sin-up{
    height: 48px;
    padding: 12px 36px;
    color: white;
    font-family: Raleway;
    font-weight: 700;
    border-radius: 10px;
    background-color:  #4E47FF;
    border: none;
}
.sin-up:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(241, 10, 10);
}
.cool{
    color: #252432;
    text-align: center;
    font-family: Raleway;
    font-weight: 700;
    font-size: 65px;
}
.Stay-Focuse{
    color: white;
    font-family: Raleway;
    font-weight: 700;
    margin: 37px auto;
    padding: 12px 36px;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
    display: block;
    
}

.Stay-Focuse:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(241, 10, 10);
}
/* section-2 */
.sec-bg{
    background-color: #F5F8FF;
}
.action{
    padding: 116px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action h2{
   color: #252432;
   font-family: Raleway;
   font-size: 42px;
   font-weight: 700;
   margin-bottom: 23px;

}
.action p{
    color: #25243280;
    font-family: Raleway;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 23px;
}
.Live{
    font-weight: 700;
    background-color: #4E47FF;
    color: white;
    font-family: Raleway;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
}
.Live:hover{
     color: rgb(0, 0, 0);
    background-color: rgb(241, 10, 10);
}
.action img{
    border-radius: 48px;
    
}
.joined-user{
    padding: 50px 80px;
    border-radius: 24px;
    background-color: #4E47FF1A;
    
}
.joined-user h2{
    text-align: center;
    font-family: Raleway;
    font-size: 38px;
    font-weight: 700;
    color: #252432;
    margin-bottom: 40px;

}
.numbers{
    display: flex;
    justify-content: center;
    gap: 158px;
   
    
    
}
.single h1{
    font-family: Inter;
    color: #4E47FF;
    font-size: 80px;
    font-weight: 700;
    
}
.single p{
    color: #00000080;
    font-family: inter;
    font-size: 20px;
    text-align: center;

}
/* section-3 */
.user-say h1{
    color: #252432;
    text-align: center;
    font-family: Raleway;
    font-size: 42px;
    margin-bottom: 50px;
    padding-top: 137px;
}
.card{
   display: flex;
   gap: 20px;
}
.single-card{
    background-color: #ffffff;
    border-radius: 14px;
    padding: 10px;
    width: 30%;
    margin-bottom: 137px;
}
.single-card svg{
   margin: 10px 0px;

}
.single-card h2{
     font-family: Raleway;
     font-size: 22px;
     margin-bottom: 10px;
    
}
.single-card p{
    margin-bottom: 10px;
    font-family: inter;

}

.person{
    display: flex;
    align-items: center;
    gap: 15px;
}
.person img{
    border-radius: 50%;
}
.person h3 {
    font-size: 18px;
    font-family: Raleway;
    margin-top: 10px;
    color:#757575 ;
}
.person{
    color: #b3b3b3;
}
/* section-4 */
.ready{
    padding: 71px 150px;
    background-color: #ffffff;
    border-radius: 14px;
}
.ready h2{
    color: #000;
    font-family: Raleway;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
.ready p{

    font-family: Raleway;
    color: #00000080;
    text-align: center;
    margin-bottom: 20px;
}
.started{
   color: white;
   font-family: Raleway;
   font-weight: 500;
   padding: 12px 36px;
   background-color: #4E47FF; 
    border: none;
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    border-radius: 14px;
}
.started:hover{
     color: rgb(0, 0, 0);
    background-color: rgb(241, 10, 10);
}
.ready img{
    border-radius: 48px;
    height: 364px;
}
/* last-section */

